body{
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  font-family: 'Poppins', sans-serif;
}

.navmain{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 1px #e0f0ff;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  position: fixed;
}

.logo{
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60%;
  height: 100%;
}

.nav{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul{
  display: flex;
  margin-right: 15px;
}

.nav ul li{
  margin: 15px;
  list-style: none;
}

.nav ul li a{
  color: rgba(0, 0, 0, 0.644);
  font-weight: bold;
  text-decoration: none;
}
.nav ul li a:hover{
  color: #2979FF;
}

.mainpage{
  width: 100%;
  height: 500px;
  display: flex;
  z-index: 0;
  padding-top: 90px;
}

.profile_discription{
  width: 50%;
  height: 100%;
}
.profile_discription h1{
  margin: 60px 0 10px 25px;
  font-size: 50px;
}


.profile_discription h4{
  margin: 0 0 25px 25px;
  font-size: 25px;
  color: #364465;
}

.profile_discription p{
  margin: 0 0 25px 25px;
  font-size: 15px;
  width: 50%;
  color: #364465;
}


.profile_discription_btn button{
  margin: 0 0 25px 25px;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  color: #364465;
  cursor: pointer;
}

#View_Project{
  background-color: #2979FF;
  color: whitesmoke;
}

#View_Project:hover{
  background-color: #2d6acb;
}

#Get_in_Touch{
  background-color: transparent;
  border: 2px solid gray;
}

.profile_photo{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.profile_photo img{
  width: 300px;
  height: 300px;
  margin-top: 10%;
  border-radius: 50%;
  border: 5px solid rgb(234, 230, 230);
  box-shadow: 0 0 7px gray;
  display: flex;
  justify-items: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

#profile_photo{
  position: absolute;
  z-index: 1;
  top: 12.5%;
  left: 22%;
}

.hidden {
  visibility: hidden;
}

#close{
  width: 20px;
  height: 20px;
  border: none;
  box-shadow: none;
}

footer{
  width: 100%;
  height: auto;
  background-color: #111827;
  border-radius: 10px 10px 0 0;
  z-index: 2;
}

.upper{
  width: 96%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.leftfooter{
  width: 30%;
  height: 100%;
}

.leftfooter .logo{
  margin-top: 50px;
}
.leftfooter p{
margin: 2% 10%;
color: #fff;
}

.rightfooter{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: end;
}

.quicklinks, .connect {
  width: auto;
  height: auto;
  margin: 20px;
}

.quicklinks h3, .connect h3 {
  margin: 20px 0;
  font-size: 23px;
  color: #fff;
  padding: 0;
}

.quicklinks ul{
  padding: 0;
}
.quicklinks ul li{
  list-style: none;
  font-size: 16px;
  margin-bottom: 10px;
}
.quicklinks ul li a{
  text-decoration: none;
  color: rgb(156, 156, 156);
}
.quicklinks ul li a:hover{
  color: rgb(255, 255, 255);
}

.icons{
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
}

.icons img{
  width: 60%;
  height: 60%;
  margin: 0 10px;
  padding: 6px;
  border-radius: 40%;
  background-color: #192030;
}
.icons img:hover{
  background-color: #007BFF;
}

.lower{
  width: 98%;
  height: auto;
  margin: auto;
}
.lower p{
  text-align: center;
  margin: 0;
  padding: 10px;
  color: rgb(156, 156, 156);
}

.about{
  width: 100%;
  height: auto;
  display: block;
}

.heading {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.about_bio_skill, .about_exp_edu{
  width: 100%;
  height: auto;
  display: flex;
}

.Professional_Bio, .Skills, .Professional_Experience, .Education{
  width: 47%;
  height: auto;
  margin: 20px auto;
}

.Professional_Bio p{
  text-align: justify;
  font-size: 18px;
  color: rgb(56, 55, 55);
}

.Skills{
  height: auto;
}

.skillsboard{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skillsblock{
  width: 40%;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  background-color: #E6E6FA;
}

.skillsblock p{
  font-size: 20px;
  margin: 16px;
}
.skill{
  height: auto;
  margin: 10px 0;
}
.label{
  display: flex;
  color: rgb(47, 46, 46);
  font-size: 15px;
  justify-content: space-between;
}

.label p{
  font-size: 15px;
  margin: 0 16px;
}

.progressbar{
  width: 90%;
  height: 10px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #cfcece;
}

.progress{
  height: 100%;
  width:0;
  border-radius: 10px;
  background-color: #4169E1;
}


.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #007BFF;
}

.about_exp_edu h3{
  display: flex;
  font-weight: lighter;
  margin: 0;
  font-size: 20px;
}

.partcontain{
  width: 97.5%;
  height: auto;
  margin: 0 auto;
  border-left: 2px solid lightgray;
}

.partcontain p{
  color: #0000EE;
  font-size: 18px;
  margin: 0 20px;
  padding-top: 5px;
}
.partcontain .partcontent{
  color: rgb(63, 62, 62);
  font-size: 18px;
  margin: 10px 20px;
  padding-bottom: 30px;
}

.partcontain ul li{
  margin: 10px 0;
  font-size: 18px;
  color: rgb(63, 62, 62);
}

.heading p{
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.projects{
  flex-direction: column;
  height: auto;
  width: auto;
}

.projects_type{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0.5px 0 rgb(224, 224, 224);
}

.projects_type ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 0;
}
.projects_type ul li{
  list-style: none;
  margin: 0 3px;
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  color: rgb(44, 43, 43);
  transition: transform 0.5s ease;
}
.projects_type ul li:hover{
  background-color: lightgray;
}
.projects_discription{
  width: 100%;
  height: auto;
  margin: 50px auto;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.projects_discription section{
  width: 32%;
  height: auto;
  border-radius: 20px;
  background-color: white;
  margin: 20px 5px;
  box-shadow: 0 1px 0 rgb(225, 224, 224);
}
.project_img{
  border-radius: 20px 20px 0 0;
  width: 100%; 
  height: 55%;
}
.project_img img{
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
}
.project_disc{
  width: 100%;
  height: auto;
}
.project_disc h3{
  margin: 25px 0 0 20px;
}
.project_disc p{
  color: rgb(48, 47, 47);
  margin: 10px 20px 20px 20px;
  width: 95%;
}
.project_disc span{
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0 20px 10px;
}
.tool1{
  color: #1538aa;
  background-color: #c3cdf0;
}
.tool2{
  color: green;
  background-color: rgb(186, 241, 186);
}
.tool3{
  color: purple;
  background-color: rgb(243, 198, 243);
}
.tool4{
  color: brown;
  background-color: rgb(237, 201, 188)
}


.contact_page{
  height: auto;
  margin-bottom: 20px;
  background-color: whitesmoke;
  flex-direction: column;
}
.Contact{
  height: auto;
  display: flex;
}
.contact_form, .contact_info{
  width: 48%;
  height: auto;
  margin: 0 auto;
}
.contact_form form{
  width: 100%;
}
.contact_form table{
  width: 100%;
  border-collapse: collapse;
  color: rgb(29, 28, 28);
}
.contact_form label{
  font-size: 14px;
}
.contact_form table input, .contact_form table textarea{
  width: 100%;
  padding: 15px;
  border: 1.6px solid rgb(154, 152, 152);
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}
.contact_form table input:focus, .contact_form table textarea:focus{
  border: 1.6px solid #4d90fe;
  box-shadow: 0 0 8px rgba(77, 144, 254, 0.6);
}
.contact_form table textarea{
  height: 130px;
  max-height: 130px;
  padding: 10px;
}
.contact_form table a{
  height: 100px;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 18px;
  color: #fff;
  background-color: #2979FF;
}
.contact_form table a:hover{
  background-color: #2d6acb;
}
.contact_form table tr td{
  padding: 10px;
}
.contact_info{
  padding-left: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgb(169, 169, 169);
}
.contact_info h1{
  font-size: 27px;
}
.contact_card{
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}
.card{
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
}
.imglogo{
  width: 6%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #d3e1f7;
}
.imglogo img{
  width: 50%;
  height: 60%;
}
.carddetail{
  width: auto;
  height: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.carddetail h4{
  margin: 0;
}
.carddetail a{
  text-decoration: none;
/*   color: rgb(82, 81, 81); */
}
.carddetail a:hover{
  color: #2d6acb;
}
#Download_CV{
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid lightgray;
}
#Download_CV:hover{
  background-color: rgb(231, 229, 229);
}
iframe{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
}
.location section{
  width: 100%;
  height: 250px;
}
#map-loader{
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #555;
  z-index: 0;
}

@media only screen and (max-width:800px) {
  .logo img {
    width: 100%;
  }
  .mainpage{
    height: 1000px;
    flex-direction: column;
  }
  .profile_discription{
    width: 90%;
    margin: auto;
  }
  .profile_discription p{
    width: 80%;
  }
  #profile_photo #profile_photo_img{
    width: 500px;
    height: 350px;
  }
  #profile_photo{
    top: 60%;
    left: 25%;
  }
  .upper{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .leftfooter{
    width: 50%;
  }
  .rightfooter{
    flex-direction: column;
  }
  .about_bio_skill, .about_exp_edu{
    flex-direction: column;
  }
  .Professional_Bio, .Skills, .Professional_Experience, .Education{
    width: 80%;
  }
  .Professional_Bio p{
    font-size: 15px;
  }
  .about{
    height: auto;
  }
  .skillsboard{
    flex-direction: column;
  }
  .skillsblock{
    width: 100%;
  }
  .label{
    margin-bottom: 5px;
  }
  .progressbar{
    width: 95%;
  }
  .projects{
    height: auto;
  }
  .projects p{
    width: 80%;
  }
  .projects_discription{
    flex-direction: column;
  }
  .projects_discription section{
    width: 80%;
    height: 350px;
    margin: 20px auto;
  }
  .project_img{
    height: 50%;
  }
  .project_disc{
    height: auto;
  }
  .project_disc h3{
    margin: 10px 0 0 20px;
  }
  .project_disc p{
    width: 95%;
    font-size: 15px;
  }
  .contact_page{
    height: auto;
  }
  .contact_page .heading p{
    width: 80%;
  }
  .Contact{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .contact_form, .contact_info{
    width: 80%;
    height: auto;
  }
  .contact_info{
    width: 90%;
    height: 350px;
    margin-top: 40px;
  }
  .location section{
    width: 95%;
    height: 250px;
  }
  .imglogo{
    width: 10%;
  }
}
